.btn_yes {
background-color: green;

}

.btn_no {
background-color: blue;

}


.text_white {
	background-color: white;
}

.newbie{
	background:url(../photos/jest.jpg)
}

.chosen {
	background: red;
    }
.unchosen{
	background:white;
}    
